<div class="container">
  <h1>Welcome to b+</h1>

  <div class="card">
    <div class="card-item">
      <i class="fas fa-sign-in-alt fa-3x"></i>
      <h3>Sign in</h3>
    </div>

    <div class="card-item">
      <i class="fas fa-tasks fa-3x"></i>
      <h3>Do your everyday task</h3>
    </div>

    <div class="card-item">
      <i class="fas fa-lightbulb fa-3x"></i>
      <h3>Share your ideas</h3>
    </div>
  </div>
</div>